TestSaisi/TestSaisi/Service References/ServiceReference1/CommandeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62575/CommandeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrudCommande" />
  <xs:element name="GetCommandeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CrudCommande" minOccurs="0" name="GetCommandeListResult" nillable="true" type="q1:ArrayOfCommande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatutCommande" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdDonneurOrdre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateCommande" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCommandeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCommande">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CrudCommande" minOccurs="0" name="uneCommande" nillable="true" type="q2:Commande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCommandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyCommandeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCommande">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CrudCommande" minOccurs="0" name="uneCommande" nillable="true" type="q3:Commande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCommandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCommandeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNumSerie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumSeries" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdEmplacement" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNumSerieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNumSerieResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>