TestSaisi/TestSaisi/Service References/ServiceReference1/CommandeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommandeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62575/CommandeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62575/CommandeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62575/CommandeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrudCommande" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommandeService_GetCommandeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandeList" />
  </wsdl:message>
  <wsdl:message name="ICommandeService_GetCommandeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandeListResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandeService_AddCommande_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCommande" />
  </wsdl:message>
  <wsdl:message name="ICommandeService_AddCommande_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommandeResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandeService_ModifyCommande_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCommande" />
  </wsdl:message>
  <wsdl:message name="ICommandeService_ModifyCommande_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyCommandeResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandeService_RemoveCommande_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCommande" />
  </wsdl:message>
  <wsdl:message name="ICommandeService_RemoveCommande_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCommandeResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandeService_InsertNumSerie_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNumSerie" />
  </wsdl:message>
  <wsdl:message name="ICommandeService_InsertNumSerie_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNumSerieResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommandeService">
    <wsdl:operation name="GetCommandeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandeService/GetCommandeList" message="tns:ICommandeService_GetCommandeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandeService/GetCommandeListResponse" message="tns:ICommandeService_GetCommandeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommande">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandeService/AddCommande" message="tns:ICommandeService_AddCommande_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandeService/AddCommandeResponse" message="tns:ICommandeService_AddCommande_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCommande">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandeService/ModifyCommande" message="tns:ICommandeService_ModifyCommande_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandeService/ModifyCommandeResponse" message="tns:ICommandeService_ModifyCommande_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCommande">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandeService/RemoveCommande" message="tns:ICommandeService_RemoveCommande_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandeService/RemoveCommandeResponse" message="tns:ICommandeService_RemoveCommande_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNumSerie">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandeService/InsertNumSerie" message="tns:ICommandeService_InsertNumSerie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandeService/InsertNumSerieResponse" message="tns:ICommandeService_InsertNumSerie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommandeService" type="tns:ICommandeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommandeList">
      <soap:operation soapAction="http://tempuri.org/ICommandeService/GetCommandeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommande">
      <soap:operation soapAction="http://tempuri.org/ICommandeService/AddCommande" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCommande">
      <soap:operation soapAction="http://tempuri.org/ICommandeService/ModifyCommande" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCommande">
      <soap:operation soapAction="http://tempuri.org/ICommandeService/RemoveCommande" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNumSerie">
      <soap:operation soapAction="http://tempuri.org/ICommandeService/InsertNumSerie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommandeService">
    <wsdl:port name="BasicHttpBinding_ICommandeService" binding="tns:BasicHttpBinding_ICommandeService">
      <soap:address location="http://localhost:62575/CommandeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>